p {


/*content - Width and height: */

width: 50%; /*50% of the element body*/

/*Border*/

border: 2px solid blue;

/*Padding*/
/*space bet element and border*/
padding: 10px;


/*Margin*/
/*Space outside of the border*/
margin: 20px 40px 500px 100px; /*can be set to auto*/


}